body {
    display: grid;
    grid-template: 20vh 80vh / 2fr 7fr;
    margin: 0;
    height: 100vh;
}

/* side bar */

.sidebar {
    grid-row: 1 / 3;
    background-color: lightblue;
    padding: 15px;
    display: grid;
    grid-template-rows: .5fr 2.5fr 3.5fr;
}

.logo {
    font-size: 40px;
}

.sidebar-top > div, .sidebar-bottom > div {
    font-size: 25px;
    margin: 20px;
}

/* header */

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 50% 50%
}

.header-top {
    background-color: red;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
}

.search {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


.main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: gray;
}